<html>
<head>
  <title></title>
  <script
    type="text/javascript"
    lang="javascript"
    src="https://cdns.gigya.com/js/gigya.js?apikey={{apiKey}}">
  </script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="script.js"></script>
</head>
<script>
function onLoad() {
  // get user info
  gigya.socialize.getUserInfo({ callback: renderUI });
  // register for connect status changes
  gigya.socialize.addEventHandlers({ onConnectionAdded: renderUI, onConnectionRemoved: renderUI });
}

function renderUI(res) {
  if (res.user != null && res.user.isConnected) {
    document.getElementById("name").innerHTML = res.user.nickname;
    if (res.user.thumbnailURL.length > 0)
      document.getElementById("photo").src = res.user.thumbnailURL;
    else
      document.getElementById("photo").src
        = "http://cdn.gigya.com/site/images/bsAPI/Placeholder.gif";
    document.getElementById("profile").style.display = "block";
  } else {
    document.getElementById("profile").style.display = "none";
  }
}
onLoad();

function getAccountInfo() {
  gigya.accounts.getAccountInfo({
    callback: function (responseObj) {
      addToConsole('Get Account Info', 'Gigya SDK', responseObj);
    }
  });
}

function submitRedirectCode(event, open) {
  event.preventDefault();
  const data = getFormObject('redirectCode');
  postJson('Redirect Code', { url: '/redirect-code', data }, (obj) => {
    if (open) {
      window.location.href = obj.redirectUri;
    }
  });
}

function submitRedirectToken(event, open) {
  event.preventDefault();
  const data = getFormObject('redirectToken');
  postJson('Redirect Token', { url: '/redirect-token', data }, (obj) => {
    if (open) {
      window.location.href = obj.redirectUri;
    }
  });
}


function submitSocialLogin(event) {
  event.preventDefault();
  const data = getFormObject('socialLogin');
  postJson('Social Grant', { url: '/v5/accounts/social-login', data });
}

function submitLogin(event) {
  event.preventDefault();
  const data = getFormObject('login');
  postJson('Login', { url: '/v5/accounts/login', data }, function(obj) {
    document.cookie = obj.sessionInfo.cookieName + '=' + obj.sessionInfo.cookieValue;
    getAccountInfo();
  });
}

window.addEventListener('load', function() {
  const authCode = getParameterByName('code');
  if (authCode) {
    document.getElementById('code').value = authCode;
  }

  const tokenValue = getParameterByName('token');
  if (tokenValue) {
    document.getElementsByName('token').forEach(elm => elm.value = tokenValue);
  }

  const regToken = getHashParameterByName('x_regToken');
  if (regToken) {
    document.getElementsByName('regToken').forEach(elm => elm.value = regToken);
  }

  const email = getHashParameterByName('existingLoginID');
  if (email) {
    document.getElementsByName('email').forEach(elm => elm.value = email);
  }

  const accessToken = getHashParameterByName('access_token');
  if (accessToken) {
    document.getElementsByName('accessToken').forEach(elm => elm.value = accessToken);
  }
});
</script>
<body>

<div id="urlBlock">
    API URL: <input type="text" id="apiUrl" name="apiUrl" value="http://localhost:3000">
</div>

<div id="formBlocks">
  <div class="block">
    <h3>Redirect using "code"</h3>
    <form id="redirectCode" name="redirectCode" onSubmit="submitRedirectCode(event, false)">
      Redirect uri: <input type="text" name="redirectUri" value="http://localhost:3000/"><br>
      Provider: <input type="text" name="provider" value="facebook"><br>
      <input type="submit" value="Get redirect" />
      <input type="button" value="Open redirect" onClick="submitRedirectCode(event, true)" />
    </form>
  </div>

  <div class="block">
    <h3>Redirect using "token"</h3>
    <form id="redirectToken" name="redirectToken" onSubmit="submitRedirectToken(event, false)">
      Redirect uri: <input type="text" name="redirectUri" value="http://localhost:3000/"><br>
      Provider: <input type="text" name="provider" value="facebook"><br>
      <input type="submit" value="Get redirect" />
      <input type="button" value="Open redirect" onClick="submitRedirectToken(event, true)" />
    </form>
  </div>
</div>

<pre id="console"></pre>
</body>
</html>
