* {
    font-family: sans-serif;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  pre, pre div {
    margin-top: 0;
    font-family: monospace;
  }
  
  form {
    margin: 0;
  }
  
  nav {
    border-bottom: 1px solid #87CEEB;
    background-color: #87CEEB;
    padding: 4px 10px;
    color: white;
  }
  
  nav a {
    text-decoration: none;
    font-weight: 200;
    color: white;
  }
  
  nav a.active {
    text-decoration: underline;
    color: white;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  button,
  input[type="button"],
  input[type="submit"] {
    margin-top: 4px;
    font-size: 1em;
  }
  
  td {
    vertical-align: top;
    padding: 0;
  }
  
  #formBlocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #urlBlock {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    background-color: #EDFFFF;
    border-bottom: 1px solid #87CEEB;
  }
  
  #urlBlock input {
    width: 300px;
  }
  
  .block {
    border: 1px solid #87CEEB;
    background-color: #EDFFFF;
    padding: 15px;
    margin: 5px;
    min-width: 300px;
    display: block;
    height: auto;
    max-width: 300px;
  }
  
  .block > h3,
  .block > h5 {
    margin-top: 0;
  }
  
  .consoleHeader {
    margin-top: 5px;
    padding: 10px;
    background-color: #ddd;
    font-size: 1em;
    font-weight: bold;
  }
  
  .consoleRow {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #eee;
    overflow-x: scroll;
  }
  